html, body {
  background-color: #43094d;
  color: white;
}

body {
  padding-top: 40px;
}

.top-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  header {
    height: 40px;
    font-size: 14px;
    padding: 8px 60px;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
    }

    .phone {
      font-weight: bold;
    }

    .email {
      font-weight: bold;
      text-align: right;
    }

    .appt {
      text-transform: uppercase;
    }

    .social {
      float: left;
    }

  }
}

footer {
  a {
    color: white;
    text-decoration: none;
  }

  .social {
    font-size: 32px;
  }
}

.container-fluid {
  max-width: 1920px;
  margin: auto;

  .row {
    max-width: 978px;
    margin: auto;
  }
}

.container-fluid.hero {
  min-height: 400px;
  background-position: center;
  background-size: cover;
}