html, body {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

body {
  @media (min-width: 768px) {
    padding-top: 40px;
  }
}

body.customize-support .top-bar {
  top: 32px;
}

h1 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
  font-size: 16px;
}

h4 {
  font-weight: 900;
}

h6 {
  font-weight: 900;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

header, footer, .map {
  a {
    transition: font-weight 300ms;
  }

  a:hover {
    font-weight: 700;
  }
}

.stripe ul {
  padding: 0;
  list-style-type: none;

  li {
    line-height: 1.7;
    margin: 20px auto;
  }

  li:before {
    content: "\2022";
    font-weight: 700;
    font-size: 18px;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    top: -1px;
    left: -2px;
  }
}

li.GraphImage:before {
  content: none !important;
}

.top-bar {
  position: fixed;
  @media (max-width: 768px) {
    position: static;
  }
  top: 0;
  right: 0;
  left: 0;
  background-color: $purple;
  z-index: 200;

  header {
    overflow: hidden;
    @media (min-width: 768px) {
      height: 40px;
      padding: 8px 60px;
    }
    font-size: 14px;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
    }

    .phone {
      font-weight: bold;
    }

    .email {
      font-weight: bold;
      text-align: right;
    }

    .appt {
      text-transform: uppercase;
    }

    .social {
      float: left;

      a {
        margin: 0 2px;
      }
    }

  }
}

footer {
  .title {
    text-transform: uppercase;
  }

  a, a:hover {
    color: white;
    text-decoration: none;
  }

  .social {
    font-size: 32px;
  }
}

.container-fluid {
  margin: auto;
  padding: 0;
  background-color: $purple;

  .row {
    @media (min-width: 1200px) {
      max-width: 1100px;
    }
    @media (min-width: 1920px) {
      max-width: 1200px;
    }
    margin: auto;
  }
}

.container-fluid.hero {
  min-height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.circle-arrow {
  font-size: 22px;
  border: 3px solid white;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  line-height: 20px;
}

.circle-arrow.fa-angle-left {
  padding-right: 2px;
}

.circle-arrow.fa-angle-right {
  padding-left: 2px;
}

.container-fluid .row.logo {
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  z-index: 20;

  .arrow-col {
    height: 26px;
  }

  #hero-arrow.purple {
    color: $purple;
    border-color: $purple;
  }
}

.menu {
  position: absolute;
  z-index: 100;

  .menu-header {
    width: 150px;
    padding: 6px 4px;
    transition: background-color 300ms, width 300ms;
    cursor: pointer;

    .menu-btn {
      display: inline-block;
      width: 42px;
      height: 42px;
      text-align: center;
      padding: 8px;
      border: 1px solid white;
      line-height: 26px;
    }

    .menu-label {
      display: inline-block;
      font-weight: bold;
      text-indent: 8px;
    }
  }

  .menu-content {
    max-height: 0;
    transition: max-height 300ms;
    background-color: white;
    overflow: hidden;
    color: black;
    position: relative;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-weight: 400;
        margin: 0;
      }

      li:hover {
        text-decoration: none;
        background-color: #f8f9fa;
      }
    }

    .dropdown {
      position: static;
    }

    .dropdown-toggle:after {
      content: "\203a";
      border: none;
      font-size: 22px;
      line-height: 20px;
      float: right;
    }

    ul.dropdown-menu {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: none;
      transform: none !important;

      .dropdown-item {
        padding: .5rem 1rem;
      }
    }
  }
}

.menu-open {
  .menu-header {
    background-color: $purple;
    width: 300px;
    color: white !important;

    .menu-btn {
      border-color: white !important;
    }
  }

  .menu-content {
    max-height: 600px;
    overflow-y: auto;
  }
}

.grow-button {
  background-color: $purple;
  transition: padding 300ms, margin 300ms;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  line-height: 56px;
  padding: 4px 8px;
  margin: 12px;
  display: inline;
  cursor: pointer;

  h2 {
    padding: 8px;
  }
}

.grow-button:hover {
  color: white;
  text-decoration: none;
  padding: 16px 20px;
  margin: 0;
}

.business-hours {
  ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.business-hours, .menu {
  ul li:before {
    content: none !important;
    line-height: initial !important;
  }
}

.stripe.pattern {
  background-color: #e4e4e4;
  background-image: url("img/pattern.png");
  background-repeat: repeat;
  background-size: 50%;
}

.stripe.split {
  position: relative;

  .image {
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .img-placeholder {
    position: static;
    z-index: 10;
    height: auto;

    @media (max-width: 768px) {
      position: relative;
      height: 30vh;
    }
  }

  @media (min-width: 768px) {
    .image.right {
      left: 50%;
    }

    .image.left {
      right: 50%;
    }
  }

  .gray {
    background-color: #f2f2f2;
    color: $purple;

    .menu-btn {
      border-color: $purple;
    }
  }

  .purple {
    background-color: $purple;
    color: white;
  }
}

.stripe.fullwidth {
  background-position: center;
  background-size: cover;
  position: relative;
}

.stripe.fullwidth:before {
  content: "";
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stripe.instagram-stripe {
  white-space: nowrap;
  overflow-x: hidden;
}

.stripe.map {
  height: 40vw;
  min-height: 400px;

  .row {
    h2, h5 {
      margin-top: 20px;
    }
  }

  iframe {
    height: 100%;
    width: 100%;
  }
}

.stripe .row {
  min-height: 460px;
  height: 100%;
}

.row.hero {
  min-height: 0;
}

.fade-container {
  .fade-1, .fade-2, .fade-3 {
    transition: opacity 1000ms;
    opacity: 0;
  }

  .fade-2 {
    transition-delay: 300ms;
  }

  .fade-3 {
    transition-delay: 600ms;
  }
}


.fade-container.visible {
  .fade-1, .fade-2, .fade-3 {
    opacity: 1;
  }
}

.blog-post-tile {
  background-color: #fdfdfd;
  height: 100%;
  cursor: pointer;

  .post-image {
    min-height: 200px;
    background-size: cover;
  }

  .post-date {
    h1, h4 {
      margin: 0;
    }

    .post-day, .post-year {
      font-weight: 300;
    }

    .post-day {
      font-size: 64px;
      margin: 0 10px;
    }

    .post-month {
      font-weight: 500;
    }
  }
}

.blog-post .blog-post-tile .post-image {
  min-height: 140px;
}

.hover-shadow {
  transition: box-shadow 400ms;
}

.hover-shadow:hover {
  box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.35);
}

.piercer-tile {
  display: block;

  .post-image {
    position: relative;
    width: 100%;
    min-height: 250px;
    background-position: center;
    background-size: cover;
  }

  .title {
    position: absolute;
    left: 0;
    width: 80%;
    bottom: 5%;
    background-color: $purple;
    color: white;
    padding: 6px;
    font-weight: 300;
  }
}

.reviews {
  .row.gray {
    background-color: white;
  }

  .review {
    background-color: $lightgray;

    .content {
      color: #b2b2b2;
    }
  }
}

.loadmore-button {
  font-size: 22px;
  padding: 8px 12px;
}

.carousel-control-next, .carousel-control-prev {
  z-index: 20;
  opacity: 0.7;
}