html, body {
  background-color: #43094d;
  color: white;
}

body {
  padding-top: 32px;
}

.top-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  header {
    height: 32px;
    font-size: 16px;
    padding: 8px 0;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
    }

    .phone, .email {
      font-weight: bold;
    }

    .appt {
      text-transform: uppercase;
    }

    .social {
      float: left;
    }

  }
}